@import "@/styles/variables.scss";

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.main-home-container {
  .events-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

    button {
      max-width: 150px;
    }

    h1 {
      font-weight: $FONT-SEMIBOLD;
      color: $dark-gray;
      font-size: $TEXT-MD;
    }
  }

  .events-cards-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
